.home-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    .home-content {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 32px;


        .home-content_tilte {
            margin-bottom: 16px;
        }

        .home-content_button {
            .button1 {
                width: 341px;
                height: 77px;
                font-size: 20px;
                background-color: var(--primary-color);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
            }

            .button1:hover {
                background-color: rgb(47, 205, 147);
            }
        }

        .uploaded-content {
            width: 300px;
            height: 425px;
            margin-right: 200px;




            .uploader-content-left {

                display: flex !important;
                justify-content: center !important;
                flex-direction: column !important;
                align-items: center !important;
                height: 100%;
                border-radius: 42px;
                border: 1px solid rgb(223, 220, 220);

                .file-Icon-red {
                    margin: 0 auto;
                    margin-bottom: 40px;
                    margin-top: 12px;
                }

                .file-name {
                    width: 250px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 20px;
                }

                .delete-file {
                    height: 54px;
                    width: 54px;
                    border: none;
                    outline: none;
                    background-color: rgb(214, 13, 13);
                    margin-top: 30px;
                    border-radius: 10px;

                    img {
                        width: 100%;
                        height: 80%;
                    }
                }
            }


        }

        .button-download {
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 46px;
            margin-top: 30px;
            font-size: 20px;
            background-color: var(--primary-color);
            color: white;
        }

        .button-download:hover {
            background-color: rgb(5, 196, 132);
        }

        .uploader-content-right {
            width: 527px;
            height: 312px;
            border: 1px solid rgb(223, 220, 220);
            border-radius: 42px;
            display: flex;
            justify-content: space-around;
            align-items: center;


            .file-word {
                position: relative;
                width: 140px;
                height: 160px;
                padding: 12px;
                border: 1px solid rgb(230, 225, 225);
                border-radius: 12px;


                img {
                    width: 100%;
                }
            }

            .file-pdf {
                position: relative;
                width: 140px;
                height: 160px;
                padding: 12px;
                border: 1px solid rgb(221, 218, 218);
                border-radius: 12px;


                img {
                    width: 100%;
                }

            }


            .file-word:hover {
                background-color: rgb(245, 245, 245);
            }

            .file-pdf:hover {
                background-color: rgb(240, 237, 237);
            }
        }

    }


}

.hiden {
    display: none;
}

.seleted {
    position: absolute;
    top: 0px;
    right: 0px;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}