.text-danger {
    margin-left: 46px;
}

button {
    background-color: var(--primary-color);
}

#root>div>div>div>div>div.col-sm-6>div.d-flex.flex-column.justify-content-center.h-custom-2.w-75.pt-4>form>button {
    background-color: var(--primary-color);
}

#root>div>div>div>div>div.col-sm-6>div.d-flex.flex-column.justify-content-center.h-custom-2.w-75.pt-4>form>button:hover {
    background-color: #53c096;
}

#root>div>div>div>div>div.col-sm-2.d-none.d-sm-block.px-0.mt-5.d-flex.align-items-center {
    margin-top: 10rem !important;
}